# Application Settings
APP_NAME=sam
DEBUG=True

# Database Settings
DB_TYPE=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sam_db
DB_USER=admin_user
DB_PASSWORD=your_password_here

# Postgres Admin (Optional depending on your setup)
DB_POSTGRES_PW=admin_password

# JWT Settings
# Generate a secret key using: openssl rand -hex 32
JWT_SECRET_KEY=yoursecretkeyhere
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
